* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10vh 0 0.5em 0;
}

sub {
    display: flex;
    justify-content: center;
}

#input-area {
    display: flex;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

#route-table {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

th {
    border: 1px solid;
}